<footer class="footer">
  <div>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></div>
  <div>
    <a>About</a>
    <a>Github</a>
    <a>Weibo</a>
    <a>Zhihu</a>
  </div>
</footer>